<ng-container>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content fondo">
                <div class="modal-header">
                    <h4 class="modal-title fs-5">{{titulo}}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-container">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</ng-container>