<div class="offcanvas offcanvas-md offcanvas-start navbarNuestra" tabindex="-10" id="navbarToggleExternalContent">
    <div class="accordion" id="accordionExample">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu Citenik</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#cliente" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b>Clientes</b></a>
                    <ul class="collapse list-unstyled" id="cliente">
                        <li>
                            <a href="alta-cliente">Registrar Cliente</a>
                        </li>
                        <li>
                            <a href="consultar-cliente">Consultar Cliente</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#plan" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b>Planes</b></a>
                    <ul class="collapse list-unstyled" id="plan">
                        <li>
                            <a href="alta-modificacion-plan">Registrar Plan</a>
                        </li>
                        <li>
                            <a href="consultar-plan">Consultar Plan</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#prestamo" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b>Prestamos</b></a>
                    <ul class="collapse list-unstyled" id="prestamo">
                        <li>
                            <a href="alta-modificacion-prestamo">Registrar Prestamo</a>
                        </li>
                        <li>
                            <a href="consultar-prestamo">Consultar Prestamo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#estadistica" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b>Estadística</b></a>
                    <ul class="collapse list-unstyled" id="estadistica">
                        <li>
                            <a href="consultar-estadistica">Consultar Estadísticas</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="cerrarSesion" (click)=" cerrarSesion()">
                        <h5>Cerrar Sesion</h5>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>