<form action="#" class="border form">
    <div id="carouselExampleInterval" class="from-group carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="./assets/Banco.jpeg" class="d-block w-100" alt="Imagen Banco">
                <div class="carousel-caption d-none d-md-block card w-55 fondo">
                    <div class="card-body">
                        <h5>Citenik Bank</h5>
                        <p>Desde 2023 trabajando para vos</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="./assets/Cliente3.jpg" class="d-block w-100" alt="Imagen Cliente">
                <div class="carousel-caption d-none d-md-block  card w-55 fondo">
                    <div class="card-body">
                        <h5>Citenik Bank</h5>
                        <p>Desde 2023 trabajando para vos</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="./assets/Prestamos.jpg" class="d-block w-100" alt="Imagen Prestamo">
                <div class="carousel-caption d-none d-md-block  card w-55 fondo">
                    <div class="card-body">
                        <h5>Citenik Bank</h5>
                        <p>Desde 2023 trabajando para vos</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</form>